@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700;900&display=swap");
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  overflow-x: hidden;
  font-size: 10px;
}

.head-section {
  width: 100rem;
  height: 100vh;
  margin: 0 auto;
  padding: 4rem 0;
}
.head-section .container {
  height: 100%;
  width: 100%;
  display: block;
  overflow: hidden;
  position: relative;
}
.head-section .container .box {
  width: 70rem;
  height: 70rem;
  background: #fff;
  border-left: 0.25rem solid #00b4d8;
  position: absolute;
  bottom: 0;
  right: 0;
  translate: 50% 50%;
  rotate: 45deg;
  z-index: 1;
}
.head-section .container .outline {
  width: 100%;
  height: 100%;
  border: 0.25rem solid #00b4d8;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.head-section .container .outline .text-container {
  width: 50rem;
  height: 20rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.head-section .container .outline .text-container .main-text {
  font-family: "Merriweather", serif;
  font-size: 7rem;
  font-weight: 900;
  line-height: 1;
  letter-spacing: 0.5rem;
  color: transparent;
  -webkit-text-stroke: 0.2rem #d4d4d4;
}
.head-section .container .outline .text-container .name-text {
  font-size: 6rem;
  font-family: "Dancing Script", cursive;
  line-height: 0.9;
}
.head-section .container .outline .text-container .name {
  translate: -20% -65%;
}
.head-section .container .outline .text-container .surname {
  translate: 20% -75%;
}
.head-section .container .outline .my-picture {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
}

.section-about-me {
  width: 100rem;
  height: auto;
  margin: 0 auto;
  display: flex;
  align-items: auto;
  justify-content: center;
  flex-direction: row;
  gap: 2.5rem;
  margin-top: 3rem;
}
.section-about-me .my-journey {
  width: 50rem;
  height: 50rem;
  border: 0.25rem solid #00b4d8;
  position: relative;
}
.section-about-me .my-journey .head-text-my-journey {
  font-family: "Merriweather", serif;
  font-size: 4rem;
  font-weight: 700;
  text-align: center;
  line-height: 0.9;
  position: absolute;
  left: 50%;
  translate: -50% -55%;
  background: #fff;
  width: 25rem;
}
.section-about-me .my-journey .box-for-skills {
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  position: absolute;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section-about-me .my-journey .line {
  background: #d4d4d4;
  position: absolute;
}
.section-about-me .my-journey .first-line {
  height: 0.7rem;
  width: 11rem;
  top: 14%;
  left: 21.5%;
  rotate: 180deg;
}
.section-about-me .my-journey .second-line {
  height: 0.7rem;
  width: 11rem;
  top: 14%;
  right: 21.5%;
}
.section-about-me .my-journey .third-line {
  height: 8rem;
  width: 0.7rem;
  top: 15%;
  left: 21.5%;
  z-index: -1;
}
.section-about-me .my-journey .fourth-line {
  height: 8rem;
  width: 0.7rem;
  top: 15%;
  right: 21.5%;
  z-index: -1;
}
.section-about-me .my-journey .fifth-line {
  height: 0.7rem;
  width: 7.5rem;
  top: 37%;
  left: 28%;
}
.section-about-me .my-journey .sixth-line {
  height: 0.7rem;
  width: 7.5rem;
  top: 37%;
  right: 28%;
  rotate: 180deg;
}
.section-about-me .my-journey .seventh-line {
  height: 5rem;
  width: 0.7rem;
  top: 45%;
  left: 50%;
  translate: -50%;
}
.section-about-me .my-journey .eighth-line {
  height: 0.7rem;
  width: 8rem;
  top: 60%;
  left: 55%;
}
.section-about-me .my-journey .ninth-line {
  height: 8rem;
  width: 0.7rem;
  top: 66%;
  right: 21.5%;
}
.section-about-me .my-journey .tenth-line {
  height: 0.7rem;
  width: 8rem;
  top: 87%;
  left: 55%;
  rotate: 180deg;
}
.section-about-me .my-journey .eleventh-line {
  height: 0.7rem;
  width: 7.5rem;
  top: 87%;
  left: 28%;
  rotate: 180deg;
}
.section-about-me .my-journey .internet {
  top: 8%;
  left: 50%;
  translate: -50%;
}
.section-about-me .my-journey .html {
  top: 31%;
  left: 15%;
}
.section-about-me .my-journey .css {
  top: 31%;
  right: 15%;
}
.section-about-me .my-journey .javascript {
  top: 31%;
  left: 50%;
  translate: -50%;
}
.section-about-me .my-journey .bootstrap {
  top: 54%;
  left: 50%;
  translate: -50%;
}
.section-about-me .my-journey .git {
  top: 54%;
  right: 15%;
}
.section-about-me .my-journey .react {
  top: 81%;
  right: 15%;
}
.section-about-me .my-journey .react-router {
  top: 81%;
  left: 50%;
  translate: -50%;
}
.section-about-me .my-journey .sass {
  top: 81%;
  left: 15%;
}
.section-about-me .about-me {
  width: 50rem;
  position: relative;
  border-top: 0.25rem solid #00b4d8;
}
.section-about-me .about-me .head-text-about-me {
  font-family: "Merriweather", serif;
  font-size: 4rem;
  font-weight: 700;
  position: absolute;
  translate: 0 -55%;
  background: #fff;
  width: 20.5rem;
}
.section-about-me .about-me .text-about-me {
  font-family: "Merriweather", serif;
  font-size: 2rem;
  font-weight: 400;
  margin-top: 3rem;
  text-align: justify;
  line-height: 1.5;
}
.section-about-me .about-me .text-about-me .bold-underline {
  font-family: "Merriweather", serif;
  font-size: 2rem;
  font-weight: 700;
  text-decoration: underline;
  -webkit-text-decoration-color: #00b4d8;
          text-decoration-color: #00b4d8;
}
.section-about-me .about-me .text-about-me .link {
  font-family: "Merriweather", serif;
  font-size: 2rem;
  font-weight: 700;
  color: #00b4d8;
  text-decoration: none;
}
.section-about-me .about-me .text-about-me .link:hover {
  text-decoration: underline;
  -webkit-text-decoration-color: #00b4d8;
          text-decoration-color: #00b4d8;
}

.projects {
  width: 100rem;
  height: auto;
  margin: 0 auto;
  margin-top: 8rem;
  border-top: 0.25rem solid #00b4d8;
  position: relative;
  padding-top: 5rem;
}
.projects .head-text-projects {
  font-family: "Merriweather", serif;
  font-size: 4rem;
  font-weight: 700;
  position: absolute;
  left: 50%;
  translate: -50% -155%;
  background: #fff;
  padding: 0 1rem;
}

.grid-projects {
  width: 100rem;
  height: auto;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5rem;
}
.grid-projects .project {
  cursor: pointer;
  height: 20rem;
  overflow: hidden;
  position: relative;
}
.grid-projects .project .overlay {
  color: #fff;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background-image: linear-gradient(transparent, #00b4d8 75%);
  opacity: 0;
  transition: opacity 300ms ease-out;
  z-index: 2;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}
.grid-projects .project .overlay .name {
  margin-top: auto;
  font-family: "Merriweather", serif;
  font-size: 3rem;
  font-weight: 700;
}
.grid-projects .project .overlay .desc {
  font-family: "Merriweather", serif;
  font-size: 2rem;
  font-weight: 400;
}
.grid-projects .project .project-logo {
  height: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  transition: transform 200ms ease-out;
  transform: translate(-50%, 0);
}
.grid-projects .project .project-ss {
  height: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  transition: transform 200ms ease-out;
  transform: translate(-50%, 100%);
}

.water-fill-animation-block {
  background: #d4d4d4;
}

.water-fill-animation {
  background: #d4d4d4 url("./waves.png");
  background-repeat: repeat-x;
  -webkit-animation: water-fill 7s linear;
          animation: water-fill 7s linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes water-fill {
  0% {
    background-position: 0 100px;
  }
  100% {
    background-position: 900px -30px;
  }
}

@keyframes water-fill {
  0% {
    background-position: 0 100px;
  }
  100% {
    background-position: 900px -30px;
  }
}
.line-fill-animation-first-second {
  background: #00b4d8;
  height: 100%;
  -webkit-animation: fill-first-second 3s linear forwards;
          animation: fill-first-second 3s linear forwards;
}

@-webkit-keyframes fill-first-second {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@keyframes fill-first-second {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
.line-fill-animation-third-fourth {
  background: #00b4d8;
  width: 100%;
  -webkit-animation: fill-third-fourth 3s linear forwards;
          animation: fill-third-fourth 3s linear forwards;
}

@-webkit-keyframes fill-third-fourth {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}

@keyframes fill-third-fourth {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}
.line-fill-animation-fifth-sixth {
  background: #00b4d8;
  height: 100%;
  -webkit-animation: fill-fifth-sixth 3s linear forwards;
          animation: fill-fifth-sixth 3s linear forwards;
}

@-webkit-keyframes fill-fifth-sixth {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@keyframes fill-fifth-sixth {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
.line-fill-animation-seventh {
  background: #00b4d8;
  width: 100%;
  -webkit-animation: fill-seventh 3s linear forwards;
          animation: fill-seventh 3s linear forwards;
}

@-webkit-keyframes fill-seventh {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}

@keyframes fill-seventh {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}
.line-fill-animation-eighth {
  background: #00b4d8;
  height: 100%;
  -webkit-animation: fill-eight 3s linear forwards;
          animation: fill-eight 3s linear forwards;
}

@-webkit-keyframes fill-eight {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@keyframes fill-eight {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
.line-fill-animation-ninth {
  background: #00b4d8;
  width: 100%;
  -webkit-animation: fill-ninth 3s linear forwards;
          animation: fill-ninth 3s linear forwards;
}

@-webkit-keyframes fill-ninth {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}

@keyframes fill-ninth {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}
.line-fill-animation-tenth {
  background: #00b4d8;
  height: 100%;
  -webkit-animation: fill-tenth 3s linear forwards;
          animation: fill-tenth 3s linear forwards;
}

@-webkit-keyframes fill-tenth {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@keyframes fill-tenth {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
.line-fill-animation-eleventh {
  background: #00b4d8;
  height: 100%;
  -webkit-animation: fill-eleventh 3s linear forwards;
          animation: fill-eleventh 3s linear forwards;
}

@-webkit-keyframes fill-eleventh {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@keyframes fill-eleventh {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}/*# sourceMappingURL=portfolio.css.map */